.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px
}

.drop-down {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: 0;
    text-align: center;
    font-weight: 600;
    font-size: medium;
    color: #615d84;
/*     box-shadow: 0 4px 15px #BFBCD8; */
}
